---
import { Markdown } from 'astro/components';
---
<section class="about">
  <Markdown>
    ## Why Dates?

    Dates are the foundation of all time. They are the most important thing in the universe. That's what co-pilot says anyways. For me it's
    a bit simpler than that. I'm learning Japanese and just learned how to say the date, **and** I'm learning about Astro and needed a project
    to explore a bit. So here we are. And now, some closing words from copilot. I'm not sure if I'll ever learn how to say the date again. Thanks copilot. Oh, 
    copilot is Google's copilot, an AI that helps devs like me write code and apparently prose too.
  </Markdown>
</section>


<style>
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .about {
      grid-area: 7 / 1 / 8 / 13;
    }
  }
</style>